body
{
    text-align: center;
}

.h2-styling
{
    color: blue;
    font-family: 'Chilanka', cursive;
    font-size: 30px;
    margin: 3%;
}
#h2-green
{
    color: green;
    margin: 3%;
}

#html-css-js
{
    color: yellow;
    font-size: 20px;
    margin: 3%;
}
